<!DOCTYPE html>
<html>
<h1>Make your form here</h1>
<form action="/pirates" method="POST">
    <h2>Name Yer Pirate</h2>
    <p>Name: <input type="text" id ="pirate[name]" name="pirate[name]"></p>
    <p>Height: <input type="text" id ="pirate[weight]" name="pirate[weight]"></p>
    <p>Weight: <input type="text" id ="pirate[height]" name="pirate[height]"></p>
    <h2>First Ship</h2>
    <p>Name: <input type="text" id="ship_name_1" name="pirate[ships][][name]"></p>
    <p>Type: <input type="text" id="ship_type_1" name="pirate[ships][][type]"></p>
    <p>Booty: <input type="text" id="ship_booty_1" name="pirate[ships][][booty]"></p>
    <h2>Second Ship</h2>
    <p>Name: <input type="text" id="ship_name_2" name="pirate[ships][][name]"></p>
    <p>Type: <input type="text" id="ship_type_2" name="pirate[ships][][type]"></p>
    <p>Booty: <input type="text" id="ship_booty_2" name="pirate[ships][][booty]"></p>


    <input type="submit" Value="Submit">

</form>

</html>